{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="ftco-blocks-cover-1">
  <div class="site-section-cover overlay" style="background-image: url('{% static 'images/coronavirus.jpg' %}')">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 text-center">
          <h1 class="mb-4 text-white">COVID-19 Contact Tracker</h1>
          <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta veritatis in tenetur doloremque, maiores doloribus officia iste. Dolores.</p>
          <!--<p><a href="#" class="btn btn-primary btn-outline-white py-3 px-5">Contact Us</a></p>-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-4">
        <img src="{% static 'images/about_1.jpg' %}" alt="Image" class="img-fluid">
      </div>


      <div class="col-md-6">
        <h1 style="font-family: sans-serif; font-size: 4em; color: red;" class="h1 mb-1"><strong>COVID-19 INDIA</strong></h1>

          <iframe src="https://www.mohfw.gov.in/">
              <p>Your browser does not support iframes.</p>
          </iframe>

        <!--div class="progress-wrap mb-4">
          <div class="d-flex">
            <span>Active Cases</span>
            <span class="ml-auto">2301</span>
          </div>
        </div>

        <div class="progress-wrap mb-4">
          <div class="d-flex">
            <span>Cures/Discharged</span>
            <span class="ml-auto">53</span>
          </div>
        </div>

        <div class="progress-wrap mb-4">
          <div class="d-flex">
            <span>Deaths</span>
            <span class="ml-auto">157</span>
          </div>
        </div>

        <div class="progress-wrap mb-4">
          <div class="d-flex">
            <span>Migrated </span>
            <span class="ml-auto">2088</span>
          </div>
        </div-->

      </div>
    </div>




  </div>
</div>
<div class="site-section bg-light">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-7 mx-auto text-center">
        <h2 class="heading-29190">Our Services</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3">
      <div class="service-29128 text-center">
        <p> </p>
        <p> </p>
        <h3><a style="color:green;"class="font-weight-bold"  data-target="#third6" data-toggle="modal" aria-expanded="false">Learn About Coronavirus</a></h3>
                    <div id="third6" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h2 style="color:blue; font-weight:bold;"><strong>About Coronavirus</strong></h2>
                          </div>

                          <div class="modal-body">
                              <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="text-center">

                                                <div class="panel-body">
                                                    <fieldset>

                                                      <h2 style="text-decoration: underline; color: red;"><strong>What is corona virus?</strong></h2>
                                                        <p>
                                                          Corona viruses are a large family of viruses which may cause illness
                                                          in animals or humans. In humans, several coronaviruses are known
                                                          to cause respiratory infections ranging from the common cold to more
                                                          severe diseases such as Middle East Respiratory Syndrome (MERS)
                                                          and Severe Acute Respiratory Syndrome (SARS). The most recently
                                                          discovered coronavirus causes coronavirus disease COVID-19.
                                                         </p>
                                                      <h2 style="text-decoration: underline; color: red;"><strong>What is COVID-19 ?</strong></h2>
                                                      <p>COVID-19 is the infectious disease caused by the most recently
                                                        discovered corona virus. This new virus and disease were unknown
                                                        before the outbreak began in Wuhan, China, in December 2019.

                                                      </p>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          </div>


                      </div>
                      </div>
                    </div>


          </div>
        </div>



    <div class="col-md-6 col-lg-3">
      <div class="service-29128 text-center">
        <p> </p>
        <p> </p>
        <h3><a style="color:green;"class="font-weight-bold"  data-target="#third6" data-toggle="modal" aria-expanded="false">COVID-19 Do's and Dont's</a></h3>
                    <div id="third6" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h2 style="color:blue; font-weight:bold;"><strong>Protect yourself and others: Follow these Do's and Dont's</strong></h2>
                          </div>

                          <div class="modal-body">
                              <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="text-center">

                                                <div class="panel-body">
                                                    <fieldset>

                                                      <h2 style="text-decoration: underline; color: red;"><strong>Do's</strong></h2>
                                                        <p>
                                                            <ul>
                                                              <li>Practice frequent hand-washing. Wash hands with soap and water or use alcohol based hand rub. Wash hands even if the visibly clean</li>
                                                              <li>Cover your nose and mouth with handkerchief/tissue while sneezing or coughing.</li>
                                                              <li>Throw used tissues into closed bins immediately after use.</li>
                                                              <li>See a doctor if you feel unwell(fever,difficult breathing and cough). While visiting doctor wear a mask/cloth to cover your mouth and nose.</li>
                                                              <li>Avoid participating in large gatherings.</li>
                                                              <li>If you have these signs/symptoms please call State helpline number or Ministry of Health and Family Welfare's 24x7 helpline at <b> 011-23978046 </b> .</li>
                                                            </ul>
                                                         </p>
                                                      <h2 style="text-decoration: underline; color: red;"><strong>Dont's</strong></h2>
                                                      <p>
                                                        <ul>
                                                          <li>Have a close contact with anyone, if you're experiencing cough and fever.</li>
                                                          <li>Touch your eyes, nose and mouth.</li>
                                                          <li>Spit in public</li>
                                                        </ul>
                                                      </p>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          </div>
                    </div>
                      </div>
                    </div>
      </div>
    </div>



    <div class="col-md-6 col-lg-3">
      <div class="service-29128 text-center">
        <p> </p>
        <p> </p>
        <h3><a style="color:green;"class="font-weight-bold"  data-target="#third5" data-toggle="modal" aria-expanded="false">Safety measures against COVID-19</a></h3>
                    <div id="third5" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h2 style="color:blue; font-weight:bold;"><strong>Protective measures against Coronavirus</strong></h2>
                          </div>

                          <div class="modal-body">
                              <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="text-center">

                                                <div class="panel-body">
                                                    <fieldset>

                                                      <h4 style="text-decoration: underline; color: red;"><strong>A distance of at least 1 meter is necessary to ensure safety for all.</strong></h4>
                                                        <p>
                                                            <ul>
                                                              <li>Wash your hands with soap and water regularly</li>
                                                              <li>If soap and water is not available, use hand sanitizer with atleast 60% alcohol.</li>
                                                              <li>Throw used tissues into closed bins immediately after use.</li>
                                                              <li>Wash hands before touching eyes, nose and mouth.</li>
                                                              <li>Cover your nose and mouth with handkerchief/tissue while sneezing and coughing.</li>
                                                              <li>Avoid mass gathering and crowded places .</li>
                                                            </ul>
                                                         </p>
                                                      <h4 style="color: red;"><b>If you are experiencing symptoms like fever, cough and difficult in breathing, please call the state helpline number or 24x7 helpline numbers of Ministry of Health and Family Welfare, Government of India and follow the instructions </b></h4>
                                                      <h4 style="color: blue"> 1075(Toll Free)  |   011-23978046 </h4>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          </div>
                      </div>
                      </div>
                    </div>
      </div>
    </div>





    <div class="col-md-6 col-lg-3">
      <div class="service-29128 text-center">
        <p> </p>
        <p> </p>
        <h3><a style="color:green;"class="font-weight-bold"  data-target="#third5" data-toggle="modal" aria-expanded="false">Myths about coronavirus</a></h3>
                    <div id="third5" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h2 style="color:blue; font-weight:bold;"><strong>Myth-Busters</strong></h2>
                          </div>

                          <div class="modal-body">
                              <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="text-center">

                                                <div class="panel-body">
                                                    <fieldset>

                                                      <h4 style="text-decoration: underline; color: red;"><strong>These are the facts.</strong></h4>
                                                        <p>
                                                            <ul>
                                                              <li>Cold weather and snow CANNOT kill the CoronaVirus .</li>
                                                              <li>The coronavirus CAN be transmitted in areas with hot and humid climates.</li>
                                                              <li>The coronavirus CANNOT be transmitted through mosquito bites.</li>
                                                              <li>There is NO evidence that companion animals/pets such as dogs or cats can transmit the coronavirus.</li>
                                                              <li>Taking a hot bath DOES NOT prevent the coronavirus. </li>
                                                              <li>Hand dryers are NOT effective in killing the coronavirus.</li>
                                                              <li>Ultraviolet light SHOULD NOT be used for sterilization and can cause skin irritation.</li>
                                                              <li>Thermal scanners CAN detect if people have a fever but CANNOT detect whether or not someone has the coronavirus.</li>
                                                              <li>Spraying alcohol or chlorine all over your body WILL NOT kill viruses that have already entered your body.</li>
                                                              <li>Vaccines against pneumonia, such as pneumococcal vaccine and Haemophilus influenzae type b (Hib) vaccine, DO NOT provide protection against the coronavirus.</li>
                                                              <li>There is NO evidence that regularly rinsing the nose with saline has protected people from infection with the coronavirus.</li>
                                                              <li>Garlic is healthy but there is NO evidence from the current outbreak that eating garlic has protected people from the coronavirus.</li>
                                                              <li>Antibiotics DO NOT work against viruses, antibiotics only work against bacteria.</li>
                                                              <li>To date, there is NO specific medicine recommended to prevent or treat the coronavirus.</li>
                                                            </ul>
                                                         </p>
                                                      <h4 style="color: red;"><b>If you are experiencing symptoms like fever, cough and difficult in breathing, please call the state helpline number or 24x7 helpline numbers of Ministry of Health and Family Welfare, Government of India and follow the instructions </b></h4>
                                                      <h4 style="color: blue"> 1075(Toll Free)  |   011-23978046 </h4>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          </div>
                      </div>
                      </div>
                    </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock content %}
