{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="ftco-blocks-cover-1">
  <div class="site-section-cover overlay" style="background-image: url('{% static 'images/coronavirus.jpg' %}')">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 text-center">
          <h1 class="mb-4 text-white">COVID-19 Contact Tracker</h1>
          <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta veritatis in tenetur doloremque, maiores doloribus officia iste. Dolores.</p>
          <!--<p><a href="#" class="btn btn-primary btn-outline-white py-3 px-5">Contact Us</a></p>-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <h2 class="h4 mb-4">About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae voluptatem mollitia obcaecati quod maxime. Soluta libero eligendi voluptatum, natus debitis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quasi!</p>
      </div>
      <div class="col-md-4">
        <img src="{% static 'images/about_1.jpg' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-4">
        <h2 class="h4 mb-4">Coronavirus LIVE: India </h2>
        <div class="progress-wrap mb-4">
          <div class="d-flex">
            <span>No.of Confirmed Cases</span>
            <span class="ml-auto">2301</span>
          </div>
          <div class="progress rounded-0" style="height: 7px;">
            <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="progress-wrap mb-4">
          <div class="d-flex">
            <span> Deaths</span>
            <span class="ml-auto">53</span>
          </div>
          <div class="progress rounded-0" style="height: 7px;">
            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="progress-wrap mb-4">
          <div class="d-flex">
            <span>Total recovered</span>
            <span class="ml-auto">157</span>
          </div>
          <div class="progress rounded-0" style="height: 7px;">
            <div class="progress-bar" role="progressbar" style="width: 93%;" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="progress-wrap mb-4">
          <div class="d-flex">
            <span>Active cases</span>
            <span class="ml-auto">2088</span>
          </div>
          <div class="progress rounded-0" style="height: 7px;">
            <div class="progress-bar" role="progressbar" style="width: 83%;" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="site-section bg-light">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-7 mx-auto text-center">
        <h2 class="heading-29190">Our Services</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="service-29128 text-center">
          <span class="d-block wrap-icon">
            <!--span class="icon-desktop_mac"></span-->
          </span>
          <h3><a class="font-weight-bold" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">Learn about COVID-19</a></h3>
          <div class="collapse" id="collapseExample1">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.>
            </div>
          </div>
          <!--p>Lorem ipsum dolor sit amet. Consectetur adipisicing elit Eaque commodi.</p-->
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="service-29128 text-center">
          <span class="d-block wrap-icon">
            <!--span class="icon-desktop_mac"></span-->
          </span>
          <h3><a class="font-weight-bold" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">COVID-19 Do's and Dont's</a></h3>
          <div class="collapse" id="collapseExample2">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.>
            </div>
          </div>
          <!--p>Lorem ipsum dolor sit amet. Consectetur adipisicing elit Eaque commodi.</p-->
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="service-29128 text-center">
          <span class="d-block wrap-icon">
            <!--span class="icon-desktop_mac"></span-->
          </span>
          <h3><a class="font-weight-bold" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">Safety measures against COVID-19</a></h3>
          <div class="collapse" id="collapseExample3">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.>
            </div>
          </div>
          <!--p>Lorem ipsum dolor sit amet. Consectetur adipisicing elit Eaque commodi.</p-->
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="service-29128 text-center">
          <span class="d-block wrap-icon">
            <!--span class="icon-desktop_mac"></span-->
          </span>
          <h3><a class="font-weight-bold" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">COVID-19 Helpcenters</a></h3>
          <div class="collapse" id="collapseExample4">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.>
            </div>
          </div>
          <!--p>Lorem ipsum dolor sit amet. Consectetur adipisicing elit Eaque commodi.</p-->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
