{# {%extends 'base.html' %} #}


{# {% block content%} #}

{# {%endblock%} #}


<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<nav class="navbar fixed-top  navbar-dark bg-dark"  style="background-color: #e3f2fd;">
	<a id="heading" class="navbar-brand">Contact Tracker</a>
	<form class="form-inline" method="post">
		<div class="form-control mr-sm-2" >
		{{search_form.as_p}}
		{%csrf_token%}
		</div>
		<input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Search">
	</form>
</nav>
	</div>


	<div class="container table-responsive" style= "padding-top :4em">
	  <h2>Table</h2>
	  <p>This table contains the contact number of people .</p>
	  <table class="table">
	    <thead class="thead-dark">
	      <tr>
	        <th>Contact no.</th>
	        <th>Timestamp</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
					{%if contact_list1 %}
					{%for contact in contact_list1 %}
	        <td>{{contact.to_mob_no}}</td>
	        <td>{{contact.timestamp}}</td>
	      </tr>
				{%endfor%}
				{%endif%}
	    </tbody>
			</table>
	</div>
	<div class="container table-responsive" style= "padding-top :4em">
	  <h2>Table</h2>
	  <p>This table contains the contact number of people .</p>
	  <table class="table">
	    <thead class="thead-dark">
	      <tr>
	        <th>Contact no.</th>
	        <th>Timestamp</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
					{%if contact_list2 %}
					{%for contact in contact_list2 %}
	        <td>{{contact.from_mob_no}}</td>
	        <td>{{contact.timestamp}}</td>
	      </tr>
				{%endfor%}
				{%endif%}
	    </tbody>
			</table>
	</div>
</body>
</html>
